<head>
  <link rel="stylesheet" href="about.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<footer class="footer">
  <h3>Copyright Teh Tarik </h3>
</footer>