<!-- <nav>
  <div class="site-title">
    <a href="/"><h1>Teh Tarik</h1></a>
    <p>A Data Analysis Site</p>
  </div>
  <ul>
    <li><a href="/map">Location</a></li>
    <li><a href="/chart">Data Visualization</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav> -->


<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span> 
        <span class="icon-bar" style="background-color: white;"></span>                         
      </button>
      <a class="navbar-brand" href="#"><img src="logo.jpg" style="width:100px; margin-top:-10px; "></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Location</a></li>
        <li><a href="/chart">Data Visualization</a></li>
        <li><a href="/">Hosptial Info</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>